{% extends "base.html" %}
{% from "security/_macros.html" import render_label, render_field_with_errors, render_field %}
{% block content %}

{{ debugtext }}

  <form action="/addcontact" method="post">
  {{ form.name.label }}
  {{ render_field_with_errors(form.name) }}
  {{ form.phone.label }}
  {{ render_field_with_errors(form.phone) }}
  {{ form.address.label }}
  {{ render_field_with_errors(form.address) }}
  {{ form.email.label }}
  {{ render_field_with_errors(form.email) }}
  {{ form.tags.label }}
  {{ render_field_with_errors(form.tags) }}
  {{ form.group.label }}
  {{ render_field_with_errors(form.group) }}
  <input type="submit" value="Add">
  </form>

{% endblock %}