<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Rolodexr - All your contacts in one place</title>
		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body>
	<h1>Rolodexr</h1>
		{% block content %}{% endblock %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
		<!--<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>-->
		<script src="/static/js/script.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>